apiVersion: v1
kind: Service
metadata:
  name: tesk-api
  labels:
    app: tesk-api
spec:
  ports:
  - port: {{ tesk.port }}
    nodePort: {{ service.node_port }}   # valid only if {{service.type}} == NodePort
  selector:
    app: tesk-api
  type: {{ service.type if service.type else 'ClusterIP' }}
