apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-rules
spec:
  tls:
  - hosts:
    - {{ ingress.host_name }}
    secretName: {{ ingress.tls_secret_name }}
  rules:
  - host: {{ ingress.host_name }}
    http:
      paths:
      - path: /
        backend:
          serviceName: tesk-svc
          servicePort: {{ tesk.port }}

