apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  labels:
    app: nginx-ingress
spec:
  type: NodePort
  externalIPs:
  - {{ ingress.external_ip }}
  ports:
  - name: http
    port: 80
  - name: https
    port: 443
    nodePort: {{ ingress.node_port }}
  selector:
    app: nginx-ingress

