apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  labels:
    app: nginx-ingress
spec:
  type: NodePort
  externalIPs:
  - {{ ingress.external_ip }}
  ports:
  - name: http
    port: 80 {% if not ingress.tls_secret_name %}
    nodePort: {{ ingress.node_port }} {% endif %} {% if ingress.tls_secret_name %}
  - name: https
    port: 443
    nodePort: {{ ingress.node_port }} {% endif %}
  selector:
    app: nginx-ingress

