# Cache and dot files
.coverage/
.eggs/
.github/
.gitignore
.mypy_cache/
.pytest_cache/
.ruff/
.ruff_cache/
.venv/
# Docs and artifacts
./deployment
./docs
./images
# Build
./build
./dist
# Scripts and tools
./scripts
Makefile
PULL_REQUEST_TEMPLATE.md