# cache and dot files
.eggs/
.venv/
.mypy_cache/
.pytest_cache/
.coverage/
.ruff/
.ruff_cache/
.eggs/
.github/
.gitignore
# Docs and atifacts
./deployment
./docs
/images
# build
./build
./dist
# Scripts and tools
./scripts
Makefile
PULL_REQUEST_TEMPLATE.md