apiVersion: v1
kind: Route
metadata:
  name: tesk-svc
spec:
  host: {{ openshift.host }}
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: tesk-api

