name: Helm Chart Testing

on:
  pull_request: 
    branches: [main]

jobs:
  helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        
      - name: Create Kind Cluster
        uses: helm/kind-action@v1.5.0
        
      - name: Create namespace
        run: kubectl create ns tesk
        
      - name: Lint chart
        run: helm lint
        working-directory: charts/tesk
        
      - name: Apply Helm file
        run: helm install -n tesk tesk . -f values.yaml
        working-directory: charts/tesk
        
      - name: Sleep for 10 seconds
        run: sleep 10
        
      - name: Get Helm and k8s
        run: helm list -n tesk && kubectl get all -n tesk
