name: Code Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      # Set up python versions with matrix to test on multiple versions
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        id: ctut-${{ matrix.python-version}}
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      # Install all test dependencies
      - name: Install dependencies
        if: steps.ctut-${{ matrix.python-version }}.outputs.cache-hit != 'true'
        run: poetry install --only=test --no-interaction --no-root

      - name: Run tests
        run: poetry run pytest tests/test_unit

      # # TODO: Add `pytest-cov`` or `coverage`` and generate coverage reports to upload to codecov
      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     fail_ci_if_error: true
      #     files:
      #     flags: test_unit
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     verbose: true